<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="nav-section">
        <h1 class="nav-title">Conforti Primary School</h1>
            <ul class="nav-list">
                <li class="nav-list-item"><a title="Homepage" href="/home" >Home</a></li>
                <li class="nav-list-item"><a href="/users" title="Users">Users</a></li>
            </ul>
        </nav>
    </header>
    <h1>Homepage</h1>
</body>
</html>